<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Lista de Usuarios</h1>
        <div class="text-right mb-3">
            <a href="{% url 'crear_usuario' %}" class="btn btn-success">Crear Nuevo Usuario</a>
            <a href="{% url 'lista_solicitudes' %}" class="btn btn-secondary">Volver a Solicitudes</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <a href="{% url 'cambiar_contrasena' usuario.id %}" class="btn btn-primary btn-sm">Cambiar Contrasena</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
