<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Solicitud</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Crear Solicitud</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                {{ form.tipo.label_tag }}
                {{ form.tipo }}
            </div>
            <div class="form-group">
                {{ form.descripcion.label_tag }}
                {{ form.descripcion }}
            </div>
            <div class="form-group">
                {{ form.estado.label_tag }}
                {{ form.estado }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Crear</button>
        </form>
        <div class="text-right mt-3">
            <a href="{% url 'lista_solicitudes' %}" class="btn btn-secondary">Volver a la Lista</a>
        </div>
    </div>
</body>
</html>
