<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Crear Usuario</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Crear</button>
        </form>
        <div class="text-right mt-3">
            <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">Volver a la Lista de Usuarios</a>
        </div>
    </div>
</body>
</html>
